<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://159.89.23.224:/mysqleditor?serverTimezone=UTC</property>
        <property name="connection.username">teambravo</property>
        <property name="connection.password">teambravo123</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo the SQL to stdout -->

        <!-- Drop and re-create the database schema on startup -->
        <!-- Tablo oto oluşturma şeysi  create-->
        <property name="hbm2ddl.auto">create</property>

        <!-- <property name="hibernate.hbm2ddl.auto">create</property>-->
        <mapping class="com.mysql.dbeditor.entity.User"/>

     </session-factory>
 </hibernate-configuration>